html{
	cursor: url("../image/mouse_slime.svg"), auto;
}

@font-face{
	font-family: "comic";
	src: url("../font/comic.ttf");
}

body {
	margin:0;
	background-image: url("../image/background_blob.svg");
	font-family: Trebuchet MS;
	font-weight: lighter;
	height: 100%;
	
}

header {
	width: 75%;
	margin: auto;
	background-image: url("../image/coule_slime.svg");
	background-color: #74886d;
	padding: 1%;
	margin-top: 5%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	/* border-color: pink; */
	/* border-style: solid; */
	/* border-width: 5px; */
	position: relative;
	background-size: cover;
}

header p{
	margin: 0;
	color: #a2cd8e;
	font-size: 80%;
}

.bulle {
	position: absolute;
	left: 85%;
	top: 2%;
}

header div{
	display: inline-block;
}

.title{
	width: 30%;
	display: inline-block;
}

.title2{
	display: inline-block;
}

h1 {
	margin: auto;
	color: #a2cd8e;
}

main {
	margin:0;
	width: 75%;
	margin: auto;
	background-color: #74886d;
	padding: 1%;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	vertical-align: middle;
	background-image: url("../image/coule_slime2.svg");
	background-size: cover;
	background-position: bottom;
}

.explo {
	width: 50%;
}


.dossier svg {
	margin: 5px 0 0 0;
	vertical-align: bottom;
}

.dossier a {
	text-decoration: none;
	color: #6db860;
	margin: 2px;
	font-size: 95%;
	cursor: url("../image/mouse_slime2.svg"), auto;
}

.fichier svg {
	margin: 5px 0 0 15px;
	vertical-align: bottom;
}

.fichier a {
	color: #a0cc8a;
	text-decoration: none;
	margin: 2px;
	font-size: 75%;
	cursor: url("../image/mouse_slime.svg"), auto;
}